body{
    padding: 10px;
    font-family: 'Dosis', sans-serif;
  font-weight:600;
}
#header div {
    height: 180px;
}
#navbar{
    display: flex;
    justify-content: space-between;
}

#navlinks{
    display: flex;
    margin-top: 27px;
    position: relative;
    right: 105px;
}
.navitems{
    margin-left: 40px;
    margin-right: 20px;
    color: #C9C9C9;
}

#logo img{
    position: relative;
    bottom: 87px;
    right: 30px;
    width: 280px;
    height: 250px;
}
#logo img:hover{
   
   transform: rotateZ(40deg);
}
#button{
    position: relative;
    right: 50px;
    top: 10px;
}
.btn{
    font-size: 17px;
    color: white;
    background-color: black;
    border: none;
    width: 170px;
    height: 65px;
    border-radius: 22px;
    cursor: pointer;
}
.btn:hover{
   transform:scale(1.1);
  transition: all 0.3s ease-in-out;
  opacity:0.8;
}

#image-div{
    width: 100%;
    height: 100%;
    position: relative;
    left: 80px;
}
#image-div:hover{
  margin-top:20px;
  transform:scale(1.1);
  transition: all 0.3s ease-in-out;
}
#image-div img{
    width: auto;
    height: 600px;
  border-radius:10px;
}

#information{
    position: relative;
    top: 30px;
}
#left-section{
   display: flex;
   position: relative;
   bottom: 90px;
   left: 20px;
}
.landing-section-info{
    margin-left: 50px;
    margin-bottom: 1px;
}
.feature{
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 160px;
    height: 45px;
    border: none;
    padding: 5px;
    border-radius: 22px;
    color: #fff;
    background-color: #87A3B8;
    cursor: pointer;
}
.feature:hover{
   transform:scale(1.1);
  transition: all 0.3s ease-in-out;
}
#main-text{
    font-size: 60px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.1;
  font-family: 'Poppins', sans-serif;
  font-weight:400;
}
#sub-text{
    color: #909090;
    font-size: 18px;
    margin-bottom: 20px;
}
.started-btn{
    background-color: #87A3B8;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 1.5px;
    width: 160px;
    height: 60px;
    border: none;
    padding: 5px;
    border-radius: 22px;
    cursor: pointer;
}
.started-btn:hover{
   transform:scale(1.1);
  transition: all 0.3s ease-in-out;
}
/* ----------------------------------------------------------------- */
#bottom-part{
    display: flex;
    position: relative;
    bottom: 70px;
  padding-top:50px;
}
#bottom-arrrows{
    margin-left: 55px;
    margin-right: 90px;
}
#bottom-arrrows i{
    padding: 7px;
    font-size: 30px;
}
/* ------------------------------------------------------------ */

@media(max-width:600px){
    .navitems,.btn{
        display: none;
    }
}

@media(max-width:600px){
    #left-section{
        display: block;  
    }
}

@media(max-width:600px){
    #left-section img{
        margin-top: 90px;
        margin-bottom: 20px;
        width: auto;
        height: 350px;
        position: relative;
        right: 60px;       
    }
}
